*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("./images/back.jpg") no-repeat;
    background-size:cover;
    min-height: 100vh;
    overflow: hidden;
    color: rgb(89, 250, 14);
    font-size: 30px;
    font-family: fantasy;
    cursor: crosshair;
}
.main{
    position: relative;
    width: 100vh;
    min-height: 100vh;
}
.spaceship{
    position:absolute;
    width: 10vh;
    height: 10vh;
    background: url("./images/ship10.png") no-repeat;
    background-size: cover;
    transform: translate(-50%,-50%);
}
.score{
    color: rgb(0, 0, 0);
    font-family:fantasy;
    position: relative;
    left: 50%;
    top: 5%;
    display: relative;
    justify-content:center;
    align-items:center;
    z-index: 1;
    font-size: 2rem 
}
.fireball {
    position:absolute;
    height: 50px;
    width: 10px;
    background-color: rgb(255, 62, 4);
    border-radius: 50%50%;
    opacity: 10.0;
    box-shadow: 0px 1px 18px rgb(255, 0, 0);
    transform: translate(-50%,-50%);
}
.rock{
    position: absolute;
    height: 70px;
    width: 70px;
    top:0px;
    background: url(./images/asteroid.png) no-repeat;
    background-size: cover;
    animation: rotateenemy 10s ease-in-out infinite;
    transition-duration: 1s;
}
.asteroidexplode{
    background: url(./images/boomasteroid.png) no-repeat;
    background-size: cover;
    animation:none;
}
.spaceshipexplode{
    background: url(./images/spaceshipboom.png) no-repeat;
    background-size: contain;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/modal.jpg)no-repeat;
    background-size: cover;
    cursor: default;
    z-index: 1000;
}
.endmodal{
    position: absolute;
    font-size: 100px;
    color: red;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    background-size: cover;
    cursor: default;
    z-index: 1000;
}
.scoreboard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:black;
    background-size: cover;
    cursor: default;
    z-index: 1000;
}
.startgame{
    padding:2rem 5rem;
    left:41.7vw;
    position:absolute;
    font-size:3rem;
    border: 6px dotted rgb(0, 0, 0);
    cursor: crosshair;
    transition: 0.2s ease;
    letter-spacing: 5px;
}
.exitbutton{
    position: absolute;
    top: 60vh;
    padding:2rem 6rem;
    font-size: 3rem;
    border: 6px dotted black;
    cursor: crosshair;
    transition: 0.2s ease;
    letter-spacing: 5px;
}
.gametabela{
    font-family:'Courier New', Courier, monospace;
    color: rgb(187, 255, 0);
    position: absolute;
    top: 20vh;
    padding:2rem 6rem;
    font-size: 3rem;
}
.closemodal{
    opacity: 0;
    pointer-events:none;
}
.modal2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:black;
    background-size: cover;
    cursor: default;
    z-index: 1000;
}

@keyframes rotateenemy{
    0% {
        transform: rotate(0deg);
   }
    20% {
        transform: rotate(72deg);
   }
    40% {
        transform: rotate(144deg);
   }
    60% {
        transform: rotate(216deg);
   }
    80% {
        transform: rotate(288deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
